@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

/* Mobile Adjustments - will display webpage vertically when sized down to screen sizes 960px or lower! */
.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

/* Text Structure */
.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

/* Image Ajustments */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop Adjustments - will display webpage horizontally when widened to screen sizes 960px or higher! */
@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }
  
  .header img {
    height: 100%;
    object-fit: cover;
  }
}
